
[defaults]
inventory = inventory
roles_path = roles
host_key_checking = True
retry_files_enabled = False
callback_result_format = yaml
collections_path = ./.collections
interpreter_python = /usr/bin/python3
deprecation_warnings=False
